<div class="scanner-container">

  <div class="page-header">
    <h2>
    <i class="pi pi-qrcode"></i>
    Attendance Scanner
  </h2>

  <p>
    Scan your QR code and take a quick photo to securely record your attendance.
  </p>
  </div>

  <!-- MAIN GRID -->
  <div class="scanner-grid">

    <!-- LEFT: QR SCANNER -->
    <div class="card scanner-card">

      <div class="card-header">
        <h3>
            <span class="step-badge">1</span>
          <i class="pi pi-qrcode"></i>
          Scan Identity QR
        </h3>
          <span class="info">
             <i class="pi pi-info-circle"></i>
          Center the QR code within the viewfinder corners.
          </span>
      </div>

      <div class="card-body qr-body">

        <div
          id="reader"
          class="reader"
          [hidden]="showPhotoCamera">
        </div>

       

      </div>

    </div>

   <!-- RIGHT: SELFIE -->
    <div class="right-column">

      <!-- SELFIE CARD -->
      <div class="card selfie-card">

        <div class="card-header">
          <h3>
            <span class="step-badge">2</span>
            <i class="pi pi-user"></i>
            Biometric Snapshot
          </h3>
           <span class="reminder">
             <i class="pi pi-exclamation-triangle"></i>
             Capture a clear photo for identity verification.
          </span>
        </div>

        <div class="card-body selfie-body">

          <div class="photo-container" [hidden]="!showPhotoCamera">

            <video #video autoplay playsinline muted></video>

            <!-- COUNTDOWN -->
            <div class="countdown-overlay" *ngIf="isCountingDown">
              <div class="countdown-content">
                <div class="countdown-number">{{ countdown }}</div>
                <div class="countdown-text">
                  <i class="pi pi-eye"></i>
                  Look at the camera
                </div>
              </div>
            </div>

          </div>

          <div class="selfie-placeholder" *ngIf="!showPhotoCamera">
            <i class="pi pi-camera"></i>
           <p> Please take a picture after QR scanning</p>
           
          </div>

        </div>
      </div>

    </div>
  </div>

  <!-- hidden canvas -->
  <canvas #canvas hidden></canvas>

</div>
